*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}



.cube{
    height:300px;
    width:300px;
    /* border:2px solid black; */
    position: relative;
    transform-style: preserve-3d;
    animation-name:cube ;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box{
     height:300px;
    width:300px;
    /* border-radius: 50%; */
    position: absolute;
}

.top{
    background-color: rgba(19, 223, 19,0.6);
    transform: rotateX(90deg) translateZ(150px);
}

.bottom{
    background-color: rgba(17, 17, 203,0.6);
    transform: rotateX(-90deg) translatez(150px);
}

.right{
    background-color: rgba(233, 14, 14,0.6);
    transform: rotateY(90deg) translateZ(150px);
}

.left{
    background-color: rgba(245, 245, 9, 0.6);
    transform: rotateY(-90deg) translateZ(150px);
}

.back{
    background-color: rgba(154, 11, 225,0.6);
    transform: rotateX(-180deg) translateZ(150px);
}

.front{
    background-color: rgba(10, 241, 202, 0.6);
    transform: rotateX(0deg) translateZ(150px);
}

@keyframes cube {

    from{
        transform: rotateX(0deg) rotateY(0deg);
    }

    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
    
}